
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table>
    <thead>
        <tr>
            <th>Item</th>
        </tr>
    </thead>
    @foreach (var Test in Model) {
    <tbody>
        <tr>
            <td>
              @Test.Item  
            </td>
        </tr>
    </tbody>
    }
</table>